<% if estimates.any? %>
  <ul class="list-unstyled">
    <% estimates.each do |estimate| %>
      <li class="mb-3 d-flex">
        <div>
          <div>
            <%= estimate.name %>
          </div>
          <div>
            <%= estimate.address %>
          </div>
          <div>
            <%= estimate.tel %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>